@model ShoeStoreProject.Models.Cart

@{
    ViewBag.Title = "ShowToCart";
    Layout = "~/Views/NewFolder1/LayoutPage2.cshtml";
}
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .card {
            width: 250px;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        img {
            border-radius: 5px 5px 0 0;
        }

        #margin-card {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>

<h4>Thông tin đơn hàng của bạn</h4>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th style="color: #5461ed">Tên sản phẩm</th>
                <th style="color: #5461ed">Ảnh minh họa</th>
                <th style="color: #5461ed">Size</th>
                <th style="color: #5461ed">Giá</th>
                <th style="color: #5461ed">Số lượng</th>
                <th style="color: #5461ed">Tổng thành tiền</th>
                <th style="color: #5461ed">Thao tác</th>
        </thead>


        <tbody>
            @foreach (var item in Model.Items)
            {
                double total = Convert.ToDouble(item._shopping_product.Price.Value * item._shopping_quantity);
                <tr>
                    <td>
                        @Html.DisplayFor(mode => item._shopping_product.proName)
                    </td>
                    <td>
                        <img src="~/Image/Giay_sport/@item._shopping_product.proImage" style="height:200px;width:200px;" />
                        @*<img src="@Url.Content(item._shopping_product.Image/Giay_sport)" style="width: 100px; height:100px;margin:10px" />*@
                    </td>
                    <td>@Html.DisplayFor(model => item._shopping_product.Size)</td>

                    <td>@Html.DisplayFor(model => item._shopping_product.Price)</td>

                    <td>
                        @using (Html.BeginForm("Update_Quantity_Cart", "Giohang"))
                        {
                            <input type="hidden" value="@item._shopping_product.ProductID" name="ID_Product" />
                            <input type="number" value="@item._shopping_quantity" name="Quantity" />
                            <input type="submit" value="Lưu" />
                        }

                    </td>
                    <td>
                        @total,000 VND
                    </td>
                    <td>
                        <a href="/Giohang/RemoveCart/@item._shopping_product.ProductID">Xóa</a>
                        @*<img src="@Url.Content("~/Image/iconedit.png")" style="width: 30px; height: 30px; float: left" />*@
                    </td>
                </tr>


            }
            

        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <td colspan="4" style="text-align: center">
                    @using (Html.BeginForm("Checkout", "Giohang"))
                    {
                        <table style="border-collapse:separate; border-spacing: 5px;">
                            <tr>
                                <td>Số điện thoại đã đăng ký: </td>
                                <td>
                                    <input type="number" name="Phone" />
                                    @*<input type="number" name="Customerid" />*@
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Địa chỉ giao hàng: </td>
                                <td>
                                    <input type="text" name="Diachigiaohang" />
                                </td>
                                <td>
                                    <a href="@Url.Action("Create", "Khachhang")" class=" btn-btn-success">Đăng ký</a>
                                </td>
                                <td>
                                    <input type="submit" value="Checkout" class="btn-btn-success" style="text-align: center" />


                                </td>
                                <td></td>
                            </tr>
                        </table>
                    }
                </td>
            </tr>
            <tr>
                <td colspan="5" style="text-align:right">Tổng thành tiền: @Model.Total_Money() ,000 VND</td>
            </tr>
        </tfoot>

    </table>

    <a href="@Url.Action("Index","QLGiay")">Tiếp tục mua hàng</a>







}
