@model IEnumerable<ShoeStoreProject.Areas.Admin.Data.OrdersViewModel>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@{
    var message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-info">
        @message
    </div>
}

@*<div class="bg-light shadow-sm m-3">*@
<div class="d-xl-flex justify-content-lg-between align-content-center">
    <h2>Orders</h2>

    @using (Html.BeginForm("Products", "QLProducts", FormMethod.Get))
    {
        <div class="form-inline my-2 my-lg-0 d-flex">
            <input class="form-control mr-sm-2" type="text" name="searchTerm" placeholder="Search here" value="@ViewBag.SearchTerm" />
            <input class="btn btn-primary" type="submit" value="Search" />
        </div>
    }
</div>
<table class="table table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            <td>
                @Html.ActionLink("Approve", "Approve", "QLOrders", new { id = item.OrderID/* id=item.PrimaryKey */ }, new { @class = "btn btn-outline-primary btn-sm" })
                @Html.ActionLink("Details", "DetailsOrder", "QLOrders", new { id = item.OrderID /* id=item.PrimaryKey */ }, new { @class = "btn btn-outline-success btn-sm" })
                @Html.ActionLink("Delete", "Delete", "QLOrders", new { id = item.OrderID/* id=item.PrimaryKey */ }, new { @class = "btn btn-outline-danger btn-sm" })
            </td>
        </tr>
    }

</table>
@*</div>*@
