
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Contents/StyleAdmin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        bg-custom {
            background-color: #287bff;
        }
    </style>

</head>
<body>
    <div class="app">
        <div class="navigation bg-primary text-bg-dark">
            <div id="user">
                <img src="~/Image/banremovebgpreview.png">
                <div class="line"></div>
            </div>
            <ul>
                <li>
                    <a href="@Url.Action("RevenueByDate","DashBoard")">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Brand")">
                        <span class="icon"><ion-icon name="pricetags-outline"></ion-icon></span>
                        <span class="title">Brand & Categories</span>
                    </a>
                </li>
                <li>
                    @*@Html.ActionLink("Customers","Customers", "QLCustomers", new { area = "" })*@
                    <a href="@Url.Action("Customers","QLCustomers")">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">Customer</span>
                    </a>
                </li>
                <li>
                    @*@Html.ActionLink("Products","Products", "QLProducts", new { area = "" })*@
                    <a href="@Url.Action("Products","QLProducts")">
                        <span class="icon"><ion-icon name="bag-outline"></ion-icon></span>
                        <span class="title">Product</span>
                    </a>
                </li>
                <li>
                    @*@Html.ActionLink("Orders", "QLOrders", new { area = "" })*@
                    <a href="@Url.Action("Orders", "QLOrders")">
                        <span class="icon"><ion-icon name="cart-outline"></ion-icon></span>
                        <span class="title">Order</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Accounts", "QLAccounts")">
                        <span class="icon"><ion-icon name="key-outline"></ion-icon></span>
                        <span class="title">Account</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Logout","Login")">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #287bff;">
                <div class="container-fluid justify-content-end">
                    <a class="navbar-brand" href="@Url.Action("ViewProfile", "Profile", new {id = Session["CustomerID"] })">
                        <ion-icon style="width:30px; height:30px; border-radius:20px;" name="menu-outline"></ion-icon>
                    </a>
                </div>
            </nav>

            <div class="bg-light shadow-md m-3 rounded-md">
                @RenderBody()
                @RenderSection("Scripts", required: false)
            </div>
        </div>
    </div>
</body>
</html>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

